<h1>Messages#index</h1>
<p>Find me in app/views/messages/index.html.erb</p>

<% @messages.each do |m| %>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title"><%=  %></h3>
    </div>
    <div class="panel-body">

    </div>
  </div>
  <br/>
<% end %>
