<h1>Actionplan#index</h1>
<p>Find me in app/views/actionplans/index.html.erb</p>

<%= link_to "Create Action Plan", new_actionplan_path %>

<% @actionplans.each do |actionplan| %>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title"><%= link_to actionplan.title, actionplan %></h3>
    </div>
    <div class="panel-body">
      Regarding: <%= actionplan.student.name %>
    </div>
  </div>
  <br/>
<% end %>
