<% provide(:title, "Users") %>
<% provide(:pagetitle, "Users") %>

<%= link_to "Create New User", new_user_path, class: "btn btn-primary task-button" %>

<% @users.each do |user| %>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"><%= link_to user.name, user %></h3>
    </div>
    <div class="panel-body">
        <p>Username:
            <%= user.username %></p>
        <p>User Type:
            <% @count = user.roles.count %>
            <% @i = 1 %>
            <% user.roles.each do |role| %>
              <%= role.name %>
              <% if @i < @count %>
                ,
              <% end %>
            <% @i += 1 %>
            <% end %>
        </p>
    </div>
</div>
<% end %>
