<% provide(:title, "Users") %>
<h1> Users </h1>

<% User.all.each do |u| %>


  <div class="user_class">
    <h3><%= link_to u.name, u %></h3>
    <ul>
      <li>Username: <%= u.username %>
      <% u.roles.each do |r| %>
      <li><%= r.name %></li>
    <% end %>
    <ul>
  </div>
<% end %>
