<% provide(:title, "Create Lesson") %>
<% provide(:button_text, "Create Lesson") %>
<% provide(:view_class, "new_lesson") %>

<h1>Create a New Lesson for <%= Subject.find(session[:subject_id]).name %></h1>
<%= link_to "Back to #{ Subject.find(session[:subject_id]).name}", Subject.find(session[:subject_id]), class: "btn btn-primary back-button" %>

<%= render "form" %>
