/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
  *= require_tree .
  *= require_self


 */

// global

  .title {
    padding-bottom: 10px;
  }

  .scroll-area {
    overflow-y:scroll;
  }

.task-button {
  margin-bottom: 25px;
}

.input-group {
  margin-top: 25px;
}

// action plans
.new_actionplan textarea {
  resize: none;
  height: 200px;
}

.actionplan_students, .actionitem_assignees {
  margin-top: 25px;
}

.new_actionplan .scroll-area, .edit_actionplan .scroll-area, .new_actionitem .scroll-area {
  max-height: 200px;
}

.actionplan .scroll-area {
  max-height: 500px;
}

// conversations

.conversation-info .links {
  float:left
}

.conversation-info .unread {
  float:right
}

.messages {
  max-height:500px;
  margin-bottom: 25px;
}

.new_message textarea {
  resize: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: 100px;
}

.new_message .btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// enrolments

// lessons

// meetings
.new_meeting textarea {
  resize: none;
  height: 200px;
}

.meeting_attendees .scroll-area {
  max-height: 200px;
}

.meeting_attendees {
  margin-top: 25px;
}

// messages

// static_pages
  .simple-calendar .day {
    line-height: 50px;
    width: 50px
  }
  .calendar-heading {
    line-height: 50px;
    background-color: #F9F9F9
  }


// subjects

.enroled_studens .scroll-area {
  max-height: 200px;
}

.lessons .scroll-area {
  max-height: 400px;
}
// users

// welcome
