/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
  *= require_tree .
  *= require_self


 */

// global

  .title {
    padding-bottom: 10px;
  }

  .scroll-area {
    height:calc(200px);
    overflow-y:scroll;
    margin-bottom: 25px;
  }

.back-button {
  margin-bottom: 25px;
}

// conversations

.conversation-info .links {
  float:left
}

.conversation-info .unread {
  float:right
}

.messages {
  height:calc(500px);
  overflow-y:scroll;
}

.new_message textarea {
  resize: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: 100px;
}

.new_message .btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// enrolments

// lessons

// meetings

// messages

// static_pages
  .simple-calendar .day {
    line-height: 50px;
    width: 50px
  }
  .calendar-heading {
    line-height: 50px;
    background-color: #F9F9F9
  }


// subjects

// users

// welcome
